name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  install-ubuntu:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: yarn --immutable

      - name: cat yarn.lock
        run: cat yarn.lock

      - name: Archive yarn cache
        uses: actions/upload-artifact@v2
        with:
          name: yarn-cache-ubuntu
          path: .yarn/cache

  install-macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: yarn --immutable

      - name: cat yarn.lock
        run: cat yarn.lock

      - name: Archive yarn cache
        uses: actions/upload-artifact@v2
        with:
          name: yarn-cache-macos
          path: .yarn/cache
